################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Spider-Man's Rogues Gallery/.vs/Spider-Man's Rogues Gallery/FileContentIndex/b8a182cf-9ee0-4e7d-b45f-e006358cbb5a.vsidx
/Spider-Man's Rogues Gallery/.vs/Spider-Man's Rogues Gallery/FileContentIndex/4a42d481-8d05-431b-96a4-6ce2e5a950a2.vsidx
/Spider-Man's Rogues Gallery/.vs/Spider-Man's Rogues Gallery/FileContentIndex/cec877c9-756e-4ecd-bb15-29af985e6d2c.vsidx
/Spider-Man's Rogues Gallery/.vs/Spider-Man's Rogues Gallery/FileContentIndex/484783b5-1247-4606-ad23-bb506e682ea5.vsidx
/Spider-Man's Rogues Gallery/.vs/Spider-Man's Rogues Gallery/FileContentIndex
/.vs/ucl-julia-matheus/v17
