################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Spider-Man's Rogues Gallery/.vs/Spider-Man's Rogues Gallery/FileContentIndex/b8a182cf-9ee0-4e7d-b45f-e006358cbb5a.vsidx
